* {
    margin: 0;
    padding: 0;
}

:root {
    --color-primary:rgb(37, 36, 49);
    --color-secondary: rgb(23, 97, 255);
    --color-alt: rgb(226, 209, 209);
    --color-nav: rgb(23, 23, 31);
    --color-white:rgb(216, 213, 213);
    --color-black:rgb(0, 0, 0);
    --color-grey1:rgb(58, 50, 50);
    --box-shadow: 0 3px 5px rgba(200,200,200,.5), 0 -3px 5px rgba(200,200,200,.5);
    --color-btn:#fff;
    --gradient-dark:90deg , #000 25%, rgb(37, 36, 39) 100%;
    --gradient-light: 90deg , rgb(236, 226, 226) 0%, rgb(108, 107, 110) 75%;
  }

  a {
    color: var(--color-white);
    text-decoration: none;
  }

body{
    background-color: black;
    color: white;
    font-family: 'PT Serif', serif;
}

h1, h2{
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    height: 75px;
    align-items: center;
    padding: 0 20px;
  }
  
  #left-text a{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
  }
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  nav ul li {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  
  nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    padding: 0 10px;
    white-space: nowrap;
  }
  
  .logout-btn input[type="submit"]{
    height: 40px;
    width: 100px;
    font-size: 18px;
    background-color: var(--color-secondary);
    border-radius: 10px;
    font-weight: 500;
    border: none;
    text-decoration: none;
  }

.game{
    height: 190vh;
}

.name{
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  padding: 30px 0;
}

#myInput{
  padding-top: 10px;
  width: 50%;
  
}

.submit-btn{
  margin-top: 5px;
    padding: 5px 10px;
    border-radius: 7px;
    background-color: var(--color-secondary);
    color: white;
}

.boards{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.game h1{
    text-align: center;
    font-size: 50px;
    padding: 30px 0;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header p {
    text-align: center;
    border-width:3px;
    border-radius: 10px;
    border-style:solid;
    width: 40%;
    height: 20vh;
    border-color:var(--color-white);
    margin-bottom: 20px;
}

.boards h2{
    font-size: 25px;
}

table{
    border-spacing:0;
}

  td {
    width: 50px;
    height: 50px;
    border: 1px solid var(--color-white);
    text-align: center;
  }
  
.boardSize{
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 0;
}

.sizeIn{
  height: 55px;
  width: 55px;
  border-radius: 10px;
  box-shadow: none;
  border: none;
}

#size-txt{
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
}

  .chatsec{
    background-color: var(--color-primary);
    height: 70vh;
  }

.chat-container{
  padding-top: 50px;
  display: flex;
  justify-content: center;
  background-color: var(--color-grey2);
  
}

.chatwindow{
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
  .chat{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grey2);
  }
  .chat-box{
    text-align: center;
    justify-content: center;
    border-width:3px;
    border-radius: 10px;
    border-style:solid;
    width: 70%;
    height: 200px;
    border-color:var(--color-white);
    margin-bottom: 20px;
    background-color: var(--color-grey2);
  }
  /* chat */
#chat{
  width: 75%;
}

  .form-signin {
    text-align: center;
  }
  
  h1.h2 {
    margin-top: 10px;
  }
  
  input[type="text"] {
    height: 20px;
    font-size: 18px;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
  }

  button.btn {
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 7px;
    background-color: var(--color-secondary);
    color: white;
  }

  #err{
    color: red;
    font-size: 12px;
  }

  #leave-btn{
    margin-bottom: 10px;
  }

  #x{
    display: inline;
  }