<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Battleships</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles2.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
        <script type='text/javascript'>
          const socket = io("ws://localhost:5000");
          
          socket.on("connect", () => {
            // either with send()
            alert("You're connected!");
            socket.send("Hello!");
          
            // or with emit() and custom event names
            socket.emit("salutations", "Hello!", { "mr": "john" }, Uint8Array.from([1, 2, 3, 4]));
          });
          </script>

        <script type="text/javascript" charset="utf-8">
          var socket2;
          $(document).ready(function(){
              socket2 = io.connect('http://' + document.domain + ':' + location.port + '/chat');
              socket2.on('connect', function() {
                  socket2.emit('join', {});
              });
              socket2.on('status', function(data) {
                  $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                  $('#chat').scrollTop($('#chat')[0].scrollHeight);
              });
              socket2.on('message', function(data) {
                  $('#chat').val($('#chat').val() + data.msg + '\n');
                  $('#chat').scrollTop($('#chat')[0].scrollHeight);
              });
              $('#send').click(function(e) {
                      text = $('#text').val();
                      $('#text').val('');
                      socket2.emit('text', {msg: text});
              });
          });
          function leave_room() {
              socket2.emit('left', {}, function() {
                  socket.disconnect();
                  // go back to the login page
                  window.location.href = "{{ url_for('index') }}";
              });
          }
        </script>
        
      </head>
    <body>
        <nav>
            <div id="left-text"><a href="/">BATTLESHIPS</a> </div>
            <ul class="nav-logged">
                <nav>
                    <div class="logout-btn">
                    <form action="{{ url_for('logout') }}">
                        <input type="submit" id = 'logout-btn'value="Log Out">
                    </form>
                    </div>
                  </nav>
            </ul>
          </nav>
    


    <section class="main">
        



        <div class="card-container">
          <div class="text-contain">
            <h1>GAME MODES</h1>
          </div>
          
            <div class="card">
              <h2>Standard</h2>
              <p>Classic Mode. Destroy all enemy ships to win.</p>
              <div class="play-button"><a href="standard.html"><i class="fas fa-play"></i></a></div>
            </div>
            <div class="card">
              <h2>Rapid</h2>
              <p>Work In Progress. 5 seconds per move. Destroy all enemy sihps to win.</p>
              <div class="play-button"><a href="rapid.html"><i class="fas fa-play"></i></a></div>
            </div>
            <div class="card">
              <h2>Reinforcement</h2>
              <p>Work In Progress. Place down new ships every 10 turns.</p>
              <div class="play-button"><a href="reinforcement.html"><i class="fas fa-play"></i></a></div>
            </div>
            <div class="card">
              <h2>Sailing</h2>
              <p>Work In Progress. Standard mode, with a twist. Move your ships once every 3 turns.</p>
              <div class="play-button"><a href="sailing.html"><i class="fas fa-play"></i></a></div>
            </div>
            <div class="card">
                <h2>Advanced</h2>
                <p>Work In Progress. Standard mode with added special moves.</p>
                <div class="play-button"><a href="advanced.html"><i class="fas fa-play"></i></a></div>
              </div>
          </div>
        </div>
      </section>
  <section class="chatsec">
    <h1 id="chat-header">CHAT</h1>
    <div class="chat-container">
        <div class="chat">
          <div class="chat-box">
            <form class="form-signin" action="{{url_for('chat')}}" method="POST">
              <h1 class="h2 mb-3 font-weight-normal">CHAT</h1>
              
              <input type="text" id="room" name="room" class="form-control" placeholder="Room Code" required><br>
              <p id="err" style="display:{{ visibility }}">Room doesn't exist! Use "Create Room" to make new room.</p>
              <p id="err" style="display:{{ vis2 }}">Room Full!</p>
              <button  class="btn btn-lg btn-primary btn-block" value="submit">Join Room</button>
            </form>
              <form id="create-btn" action="{{ url_for('create') }}" method="post">
                <button  class="btn btn-lg btn-primary btn-block" value="submit">Create Room</button>
            </form>
            
          </div>
          </div>
    

      <div class="chatwindow">
        <div class="chat-txt">
          <h2 >Chat Room</h2>
          <h2>Room Code: {{session['room']}}</h2>
          <button type="button" class="btn btn-danger" id="leave-btn" onclick=leave_room()>Leave this Chat</button>
        </div>
        
        <textarea id="chat" rows="10" placeholder="No messages yet. Start one..."></textarea><br /><br />
        <input type="text" id="text" size="60" placeholder="Enter your message here" />
        <button type="button" id="send" class="btn btn-success">SEND</button><br /><br />
        
      </div>
  </div>


</section>

    <script>
      var input = document.getElementById("text");

      // Execute a function when the user presses a key on the keyboard
      input.addEventListener("keypress", function(event) {
      // If the user presses the "Enter" key on the keyboard
      if (event.key === "Enter") {
          // Cancel the default action, if needed
          event.preventDefault();
          // Trigger the button element with a click
          document.getElementById("send").click();
      }
      });
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

    </body>
</html>



