<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Battleships</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='games.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <nav>
            <div id="left-text"><a href="/">BATTLESHIPS</a> </div>
            <ul class="nav-logged">
                <nav>
                    <a href="/">Games</a>
                    <div class="logout-btn">
                    <form action="{{ url_for('logout') }}">
                        <input type="submit" id = 'logout-btn'value="Log Out">
                    </form>
                    </div>
                  </nav>
            </ul>
          </nav>
    <section class="game">
        <div class="header">
            <h1>Standard Mode</h1>
            <h3>{{ p1 }} vs {{ p2 }} </h3>
            <h3 id="scores">{{ score1 }} - {{ score2 }}</h3>
            <button style='display: none;' id="reset" onCLick = 'resetGame()'>Reset</button>
            <p id="instruct"></p>
            
        </div>
  
      
    <div class="boards">
        <div class="ocean-board">
        <h2 class="target-text">Ocean</h2>
      <table class="ocean">
        <tr>
          <td class="no-point"></td>
          <td class="no-point" style = 'display: {{ V1 }}'>1</td>
          <td class="no-point" style = 'display: {{ V2}}'>2</td>
          <td class="no-point" style = 'display: {{ V3 }}'>3</td>
          <td class="no-point" style = 'display: {{ V4 }}'>4</td>
          <td class="no-point" style = 'display: {{ V5 }}'>5</td>
          <td class="no-point" style = 'display: {{ V6 }}'>6</td>
          <td class="no-point" style = 'display: {{ V7 }}'>7</td>
          <td class="no-point" style = 'display: {{ V8 }}'>8</td>
          <td class="no-point" style = 'display: {{ V9 }}'>9</td>
          <td class="no-point" style = 'display: {{ V10 }}'>10</td>
        </tr>
        <tr style = 'display: {{ VA }}'>
          <td class="no-point">A</td>
          <td id='a1' style = 'display: {{ a1V }}'></td>
          <td id='a2' style = 'display: {{ a2V }}'></td>
          <td id='a3' style = 'display: {{ a3V }}'></td>
          <td id='a4' style = 'display: {{ a4V }}'></td>
          <td id='a5' style = 'display: {{ a5V }}'></td>
          <td id='a6' style = 'display: {{ a6V }}'></td>
          <td id='a7' style = 'display: {{ a7V }}'></td>
          <td id='a8' style = 'display: {{ a8V }}'></td>
          <td id='a9' style = 'display: {{ a9V }}'></td>
          <td id='a10' style = 'display: {{ a10V }}'></td>
        </tr>
        <tr style = 'display: {{ VB }}'>
          <td class="no-point">B</td>
          <td  id='b1' style = 'display: {{ b1V }}'></td>
          <td  id='b2' style = 'display: {{ b2V }}'></td>
          <td id='b3'  style = 'display: {{ b3V }}'></td>
          <td id='b4'  style = 'display: {{ b4V }}'></td>
          <td  id='b5' style = 'display: {{ b5V }}'></td>
          <td  id='b6' style = 'display: {{ b6V }}'></td>
          <td  id='b7' style = 'display: {{ b7V }}'></td>
          <td  id='b8' style = 'display: {{ b8V }}'></td>
          <td  id='b9' style = 'display: {{ b9V }}'></td>
          <td  id='b10' style = 'display: {{ b10V }}'></td>
        </tr>
        <tr style = 'display: {{ VC }}'>
          <td class="no-point">C</td>
          <td id='c1' style = 'display: {{ c1V }}'></td>
          <td id='c2' style = 'display: {{ c2V }}'></td>
          <td id='c3' style = 'display: {{ c3V }}'></td>
          <td id='c4' style = 'display: {{ c4V }}'></td>
          <td id='c5' style = 'display: {{ c5V }}'></td>
          <td id='c6' style = 'display: {{ c6V }}'></td>
          <td id='c7' style = 'display: {{ c7V }}'></td>
          <td id='c8' style = 'display: {{ c8V }}'></td>
          <td id='c9' style = 'display: {{ c9V }}'></td>
          <td id='c10' style = 'display: {{ c10V }}'></td>
        </tr>
        <tr style = 'display: {{ VD }}'>
          <td class="no-point">D</td>
          <td id='d1'style = 'display: {{ d1V }}'></td>
          <td id='d2'style = 'display: {{ d2V }}'></td>
          <td id='d3'style = 'display: {{ d3V }}'></td>
          <td id='d4'style = 'display: {{ d4V }}'></td>
          <td id='d5'style = 'display: {{ d5V }}'></td>
          <td id='d6'style = 'display: {{ d6V }}'></td>
          <td id='d7'style = 'display: {{ d7V }}'></td>
          <td id='d8'style = 'display: {{ d8V }}'></td>
          <td id='d9'style = 'display: {{ d9V }}'></td>
          <td id='d10'style = 'display: {{ d10V }}'></td>
        </tr>
        <tr style = 'display: {{ VE }}'>
          <td class="no-point">E</td>
          <td id='e1' style = 'display: {{ e1V }}'></td>
          <td id='e2' style = 'display: {{ e2V }}'></td>
          <td id='e3' style = 'display: {{ e3V }}'></td>
          <td id='e4' style = 'display: {{ e4V }}'></td>
          <td id='e5' style = 'display: {{ e5V }}'></td>
          <td id='e6' style = 'display: {{ e6V }}'></td>
          <td id='e7' style = 'display: {{ e7V }}'></td>
          <td id='e8' style = 'display: {{ e8V }}'></td>
          <td id='e9' style = 'display: {{ e9V }}'></td>
          <td id='e10' style = 'display: {{ e10V }}'></td>
        </tr>
        <tr style = 'display: {{ VF }}'>
            <td class="no-point">F</td>
            <td id='f1'style = 'display: {{ f1V }}'></td>
            <td id='f2'style = 'display: {{ f2V }}'></td>
            <td id='f3'style = 'display: {{ f3V }}'></td>
            <td id='f4'style = 'display: {{ f4V }}'></td>
            <td id='f5'style = 'display: {{ f5V }}'></td>
            <td id='f6'style = 'display: {{ f6V }}'></td>
            <td id='f7'style = 'display: {{ f7V }}'></td>
            <td id='f8'style = 'display: {{ f8V }}'></td>
            <td id='f9'style = 'display: {{ f9V }}'></td>
            <td id='f10'style = 'display: {{ f10V }}'></td>
          </tr>
          <tr style = 'display: {{ VG }}'>
            <td class="no-point">G</td>
            <td id='g1' style = 'display: {{ g1V }}'></td>
            <td id='g2' style = 'display: {{ g2V }}'></td>
            <td id='g3' style = 'display: {{ g3V }}'></td>
            <td id='g4' style = 'display: {{ g4V }}'></td>
            <td id='g5' style = 'display: {{ g5V }}'></td>
            <td id='g6' style = 'display: {{ g6V }}'></td>
            <td id='g7' style = 'display: {{ g7V }}'></td>
            <td id='g8' style = 'display: {{ g8V }}'></td>
            <td id='g9' style = 'display: {{ g9V }}'></td>
            <td id='g10' style = 'display: {{ g10V }}'></td>
          </tr>
          <tr style = 'display: {{ VH }}'>
            <td class="no-point">H</td>
            <td id='h1' style = 'display: {{ h1V }}'></td>
            <td id='h2' style = 'display: {{ h2V }}'></td>
            <td id='h3' style = 'display: {{ h3V }}'></td>
            <td id='h4' style = 'display: {{ h4V }}'></td>
            <td id='h5' style = 'display: {{ h5V }}'></td>
            <td id='h6' style = 'display: {{ h6V }}'></td>
            <td id='h7' style = 'display: {{ h7V }}'></td>
            <td id='h8' style = 'display: {{ h8V }}'></td>
            <td id='h9' style = 'display: {{ h9V }}'></td>
            <td id='h10' style = 'display: {{ h10V }}'></td>
          </tr>
          <tr style = 'display: {{ VI }}'>
            <td class="no-point">I</td>
            <td id='i1'style = 'display: {{ i1V }}'></td>
            <td id='i2'style = 'display: {{ i2V }}'></td>
            <td id='i3'style = 'display: {{ i3V }}'></td>
            <td id='i4'style = 'display: {{ i4V }}'></td>
            <td id='i5'style = 'display: {{ i5V }}'></td>
            <td id='i6'style = 'display: {{ i6V }}'></td>
            <td id='i7'style = 'display: {{ i7V }}'></td>
            <td id='i8'style = 'display: {{ i8V }}'></td>
            <td id='i9'style = 'display: {{ i9V }}'></td>
            <td id='i10'style = 'display: {{ i10V }}'></td>
          </tr>
          <tr style = 'display: {{ VJ }}'>
            <td class="no-point">J</td>
            <td id='j1'style = 'display: {{ j1V }}'></td>
            <td id='j2'style = 'display: {{ j2V }}'></td>
            <td id='j3'style = 'display: {{ j3V }}'></td>
            <td id='j4'style = 'display: {{ j4V }}'></td>
            <td id='j5'style = 'display: {{ j5V }}'></td>
            <td id='j6'style = 'display: {{ j6V }}'></td>
            <td id='j7'style = 'display: {{ j7V }}'></td>
            <td id='j8'style = 'display: {{ j8V }}'></td>
            <td id='j9'style = 'display: {{ j9V }}'></td>
            <td id='j10'style = 'display: {{ j10V }}'></td>
          </tr>
        </table>
    </div>
    <div class="target-board">
        <h2 class="target-text">Target</h2>
        <table class="target">
          <tr>
            <td class="no-point"></td>
            <td class="no-point" style = 'display: {{ V1 }}'>1</td>
            <td class="no-point" style = 'display: {{ V2}}'>2</td>
            <td class="no-point" style = 'display: {{ V3 }}'>3</td>
            <td class="no-point" style = 'display: {{ V4 }}'>4</td>
            <td class="no-point" style = 'display: {{ V5 }}'>5</td>
            <td class="no-point" style = 'display: {{ V6 }}'>6</td>
            <td class="no-point" style = 'display: {{ V7 }}'>7</td>
            <td class="no-point" style = 'display: {{ V8 }}'>8</td>
            <td class="no-point" style = 'display: {{ V9 }}'>9</td>
            <td class="no-point" style = 'display: {{ V10 }}'>10</td>
          </tr>
          <tr style = 'display: {{ VA }}'>
            <td class="no-point">A</td>
            <td id='a1T' style = 'display: {{ a1V }}'></td>
            <td id='a2T' style = 'display: {{ a2V }}'></td>
            <td id='a3T' style = 'display: {{ a3V }}'></td>
            <td id='a4T' style = 'display: {{ a4V }}'></td>
            <td id='a5T' style = 'display: {{ a5V }}'></td>
            <td id='a6T' style = 'display: {{ a6V }}'></td>
            <td id='a7T' style = 'display: {{ a7V }}'></td>
            <td id='a8T' style = 'display: {{ a8V }}'></td>
            <td id='a9T' style = 'display: {{ a9V }}'></td>
            <td id='a10T' style = 'display: {{ a10V }}'></td>
          </tr>
          <tr style = 'display: {{ VB }}'>
            <td class="no-point">B</td>
            <td  id='b1T' style = 'display: {{ b1V }}'></td>
            <td  id='b2T' style = 'display: {{ b2V }}'></td>
            <td id='b3T'  style = 'display: {{ b3V }}'></td>
            <td id='b4T'  style = 'display: {{ b4V }}'></td>
            <td  id='b5T' style = 'display: {{ b5V }}'></td>
            <td  id='b6T' style = 'display: {{ b6V }}'></td>
            <td  id='b7T' style = 'display: {{ b7V }}'></td>
            <td  id='b8T' style = 'display: {{ b8V }}'></td>
            <td  id='b9T' style = 'display: {{ b9V }}'></td>
            <td  id='b10T' style = 'display: {{ b10V }}'></td>
          </tr>
          <tr style = 'display: {{ VC }}'>
            <td class="no-point">C</td>
            <td id='c1T' style = 'display: {{ c1V }}'></td>
            <td id='c2T' style = 'display: {{ c2V }}'></td>
            <td id='c3T' style = 'display: {{ c3V }}'></td>
            <td id='c4T' style = 'display: {{ c4V }}'></td>
            <td id='c5T' style = 'display: {{ c5V }}'></td>
            <td id='c6T' style = 'display: {{ c6V }}'></td>
            <td id='c7T' style = 'display: {{ c7V }}'></td>
            <td id='c8T' style = 'display: {{ c8V }}'></td>
            <td id='c9T' style = 'display: {{ c9V }}'></td>
            <td id='c10T' style = 'display: {{ c10V }}'></td>
          </tr>
          <tr style = 'display: {{ VD }}'>
            <td class="no-point">D</td>
            <td id='d1T'style = 'display: {{ d1V }}'></td>
            <td id='d2T'style = 'display: {{ d2V }}'></td>
            <td id='d3T'style = 'display: {{ d3V }}'></td>
            <td id='d4T'style = 'display: {{ d4V }}'></td>
            <td id='d5T'style = 'display: {{ d5V }}'></td>
            <td id='d6T'style = 'display: {{ d6V }}'></td>
            <td id='d7T'style = 'display: {{ d7V }}'></td>
            <td id='d8T'style = 'display: {{ d8V }}'></td>
            <td id='d9T'style = 'display: {{ d9V }}'></td>
            <td id='d10T'style = 'display: {{ d10V }}'></td>
          </tr>
          <tr style = 'display: {{ VE }}'>
            <td class="no-point">E</td>
            <td id='e1T' style = 'display: {{ e1V }}'></td>
            <td id='e2T' style = 'display: {{ e2V }}'></td>
            <td id='e3T' style = 'display: {{ e3V }}'></td>
            <td id='e4T' style = 'display: {{ e4V }}'></td>
            <td id='e5T' style = 'display: {{ e5V }}'></td>
            <td id='e6T' style = 'display: {{ e6V }}'></td>
            <td id='e7T' style = 'display: {{ e7V }}'></td>
            <td id='e8T' style = 'display: {{ e8V }}'></td>
            <td id='e9T' style = 'display: {{ e9V }}'></td>
            <td id='e10T' style = 'display: {{ e10V }}'></td>
          </tr>
          <tr style = 'display: {{ VF }}'>
              <td class="no-point">F</td>
              <td id='f1T'style = 'display: {{ f1V }}'></td>
              <td id='f2T'style = 'display: {{ f2V }}'></td>
              <td id='f3T'style = 'display: {{ f3V }}'></td>
              <td id='f4T'style = 'display: {{ f4V }}'></td>
              <td id='f5T'style = 'display: {{ f5V }}'></td>
              <td id='f6T'style = 'display: {{ f6V }}'></td>
              <td id='f7T'style = 'display: {{ f7V }}'></td>
              <td id='f8T'style = 'display: {{ f8V }}'></td>
              <td id='f9T'style = 'display: {{ f9V }}'></td>
              <td id='f10T'style = 'display: {{ f10V }}'></td>
            </tr>
            <tr style = 'display: {{ VG }}'>
              <td class="no-point">G</td>
              <td id='g1T' style = 'display: {{ g1V }}'></td>
              <td id='g2T' style = 'display: {{ g2V }}'></td>
              <td id='g3T' style = 'display: {{ g3V }}'></td>
              <td id='g4T' style = 'display: {{ g4V }}'></td>
              <td id='g5T' style = 'display: {{ g5V }}'></td>
              <td id='g6T' style = 'display: {{ g6V }}'></td>
              <td id='g7T' style = 'display: {{ g7V }}'></td>
              <td id='g8T' style = 'display: {{ g8V }}'></td>
              <td id='g9T' style = 'display: {{ g9V }}'></td>
              <td id='g10T' style = 'display: {{ g10V }}'></td>
            </tr>
            <tr style = 'display: {{ VH }}'>
              <td class="no-point">H</td>
              <td id='h1T' style = 'display: {{ h1V }}'></td>
              <td id='h2T' style = 'display: {{ h2V }}'></td>
              <td id='h3T' style = 'display: {{ h3V }}'></td>
              <td id='h4T' style = 'display: {{ h4V }}'></td>
              <td id='h5T' style = 'display: {{ h5V }}'></td>
              <td id='h6T' style = 'display: {{ h6V }}'></td>
              <td id='h7T' style = 'display: {{ h7V }}'></td>
              <td id='h8T' style = 'display: {{ h8V }}'></td>
              <td id='h9T' style = 'display: {{ h9V }}'></td>
              <td id='h10T' style = 'display: {{ h10V }}'></td>
            </tr>
            <tr style = 'display: {{ VI }}'>
              <td class="no-point">I</td>
              <td id='i1T'style = 'display: {{ i1V }}'></td>
              <td id='i2T'style = 'display: {{ i2V }}'></td>
              <td id='i3T'style = 'display: {{ i3V }}'></td>
              <td id='i4T'style = 'display: {{ i4V }}'></td>
              <td id='i5T'style = 'display: {{ i5V }}'></td>
              <td id='i6T'style = 'display: {{ i6V }}'></td>
              <td id='i7T'style = 'display: {{ i7V }}'></td>
              <td id='i8T'style = 'display: {{ i8V }}'></td>
              <td id='i9T'style = 'display: {{ i9V }}'></td>
              <td id='i10T'style = 'display: {{ i10V }}'></td>
            </tr>
            <tr style = 'display: {{ VJ }}'>
              <td class="no-point">J</td>
              <td id='j1T'style = 'display: {{ j1V }}'></td>
              <td id='j2T'style = 'display: {{ j2V }}'></td>
              <td id='j3T'style = 'display: {{ j3V }}'></td>
              <td id='j4T'style = 'display: {{ j4V }}'></td>
              <td id='j5T'style = 'display: {{ j5V }}'></td>
              <td id='j6T'style = 'display: {{ j6V }}'></td>
              <td id='j7T'style = 'display: {{ j7V }}'></td>
              <td id='j8T'style = 'display: {{ j8V }}'></td>
              <td id='j9T'style = 'display: {{ j9V }}'></td>
              <td id='j10T'style = 'display: {{ j10V }}'></td>
            </tr>
          </table>
        </div>
        </div>
    </section>
    <section class="chatsec">
      <div class="chat-container">
          
      
  
        <div class="chatwindow">
          <div class="chat-txt">
            <h2 >Chat Room</h2>
            <h2>Room Code: {{session['room']}}</h2>
            <button type="button" class="btn btn-danger" id="leave-btn" onclick=leave_room()>Leave this Chat</button>
          </div>
          
          <textarea id="chat" rows="10" placeholder="No messages yet. Start one..."></textarea><br /><br />
          <input type="text" id="text" size="60" placeholder="Enter your message here" />
          <button type="button" id="send" class="btn btn-success">SEND</button><br /><br />
          
        </div>
    </div>
    </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
        <script>
          $(document).ready(function() {
              setInterval(getOceanDisplay, 1500);
              setInterval(getTargetDisplay, 1500);
              setInterval(gameplay, 1500);
              setInterval(updateOcean, 1500);
              setInterval(updateTurn, 1500);
              setInterval(updateScore, 1500);
              setInterval(updateInstruct, 1500);
              setInterval(checkOver, 1500);
          });
        </script>
    </body>
    
</html>



