<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Battleships</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='games.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif&display=swap" rel="stylesheet">
        <script>
          function handleSubmit() {
            // Get the input element and the entered text
            var input = document.getElementById("myInput");
            var btn = document.getElementById("nameSubmit");
            var txt = document.getElementById("EnterName");
            var text = input.value;
      
            // Hide the input element
            input.style.display = "none";
            btn.style.display = "none";
            txt.style.display = "none";
      
            // Add the text to the HTML document
            var output = document.getElementById("output");
            output.innerHTML = "Welcome " + text+" !";
          }
        </script>
    </head>
    <body>
        <nav>
            <div id="left-text"><a href="/">BATTLESHIPS</a> </div>
            <ul class="nav-logged">
                <nav>
                    <a href="/">Games</a>
                    <div class="logout-btn">
                    <form action="{{ url_for('logout') }}">
                        <input type="submit" id = 'logout-btn'value="Log Out">
                    </form>
                    </div>
                  </nav>
            </ul>
          </nav>
    <section class="game">
        <div class="header">
            <h1>Standard Mode</h1>
            <p class="instruct">Places down you ships!</p>
        </div>
        <div class="name">
          <p id="EnterName">Enter your name: </p>
          <input type="text" id="myInput" >
          <button class="submit-btn" onclick="handleSubmit()">Submit</button>
          <div id="output"></div>
        </div>
        <div class="boardSize">
          <p id="size-txt">Enter Board Size</p>
          <form method="post" action="{{ url_for('standard') }}" >
            <input class='sizeIn'type="number" name="rowSize" min="6" max="10" placeholder="rows">
            x
            <input class='sizeIn' type="number" name="colSize" min="6" max="10"placeholder="cols">
            <button type="submit" class="submit-btn">Submit</button>
          </form>
        </div>
    <div class="boards">
        <div class="ocean-board">
        <h2 class="target-text">Ocean</h2>
      <table class="ocean">
        <tr>
          <td></td>
          <td style = 'display: {{ V1 }}'>1</td>
          <td style = 'display: {{ V2}}'>2</td>
          <td style = 'display: {{ V3 }}'>3</td>
          <td style = 'display: {{ V4 }}'>4</td>
          <td style = 'display: {{ V5 }}'>5</td>
          <td style = 'display: {{ V6 }}'>6</td>
          <td style = 'display: {{ V7 }}'>7</td>
          <td style = 'display: {{ V8 }}'>8</td>
          <td style = 'display: {{ V9 }}'>9</td>
          <td style = 'display: {{ V10 }}'>10</td>
        </tr>
        <tr style = 'display: {{ VA }}'>
          <td>A</td>
          <td style = 'display: {{ a1V }}'>{{ a1 }}</td>
          <td style = 'display: {{ a2V }}'>{{ a2 }}</td>
          <td style = 'display: {{ a3V }}'>{{ a3 }}</td>
          <td style = 'display: {{ a4V }}'>{{ a4 }}</td>
          <td style = 'display: {{ a5V }}'>{{ a5 }}</td>
          <td style = 'display: {{ a6V }}'>{{ a6 }}</td>
          <td style = 'display: {{ a7V }}'>{{ a7 }}</td>
          <td style = 'display: {{ a8V }}'>{{ a8 }}</td>
          <td style = 'display: {{ a9V }}'>{{ a9 }}</td>
          <td style = 'display: {{ a10V }}'>{{ a10 }}</td>
        </tr>
        <tr style = 'display: {{ VB }}'>
          <td>B</td>
          <td  style = 'display: {{ b1V }}'>{{ b1 }}</td>
          <td  style = 'display: {{ b2V }}'>{{ b2 }}</td>
          <td  style = 'display: {{ b3V }}'>{{ b3 }}</td>
          <td  style = 'display: {{ b4V }}'>{{ b4 }}</td>
          <td  style = 'display: {{ b5V }}'>{{ b5 }}</td>
          <td  style = 'display: {{ b6V }}'>{{ b6 }}</td>
          <td  style = 'display: {{ b7V }}'>{{ b7 }}</td>
          <td  style = 'display: {{ b8V }}'>{{ b8 }}</td>
          <td  style = 'display: {{ b9V }}'>{{ b9 }}</td>
          <td  style = 'display: {{ b10V }}'>{{ b10 }}</td>
        </tr>
        <tr style = 'display: {{ VC }}'>
          <td>C</td>
          <td style = 'display: {{ c1V }}'>{{ c1 }}</td>
          <td style = 'display: {{ c2V }}'>{{ c2 }}</td>
          <td style = 'display: {{ c3V }}'>{{ c3 }}</td>
          <td style = 'display: {{ c4V }}'>{{ c4 }}</td>
          <td style = 'display: {{ c5V }}'>{{ c5 }}</td>
          <td style = 'display: {{ c6V }}'>{{ c6 }}</td>
          <td style = 'display: {{ c7V }}'>{{ c7 }}</td>
          <td style = 'display: {{ c8V }}'>{{ c8 }}</td>
          <td style = 'display: {{ c9V }}'>{{ c9 }}</td>
          <td style = 'display: {{ c10V }}'>{{ c10 }}</td>
        </tr>
        <tr style = 'display: {{ VD }}'>
          <td>D</td>
          <td style = 'display: {{ d1V }}'>{{ d1 }}</td>
          <td style = 'display: {{ d2V }}'>{{ d2 }}</td>
          <td style = 'display: {{ d3V }}'>{{ d3 }}</td>
          <td style = 'display: {{ d4V }}'>{{ d4 }}</td>
          <td style = 'display: {{ d5V }}'>{{ d5 }}</td>
          <td style = 'display: {{ d6V }}'>{{ d6 }}</td>
          <td style = 'display: {{ d7V }}'>{{ d7 }}</td>
          <td style = 'display: {{ d8V }}'>{{ d8 }}</td>
          <td style = 'display: {{ d9V }}'>{{ d9 }}</td>
          <td style = 'display: {{ d10V }}'>{{ d10 }}</td>
        </tr>
        <tr style = 'display: {{ VE }}'>
          <td>E</td>
          <td style = 'display: {{ e1V }}'>{{ e1 }}</td>
          <td style = 'display: {{ e2V }}'>{{ e2 }}</td>
          <td style = 'display: {{ e3V }}'>{{ e3 }}</td>
          <td style = 'display: {{ e4V }}'>{{ e4 }}</td>
          <td style = 'display: {{ e5V }}'>{{ e5 }}</td>
          <td style = 'display: {{ e6V }}'>{{ e6 }}</td>
          <td style = 'display: {{ e7V }}'>{{ e7 }}</td>
          <td style = 'display: {{ e8V }}'>{{ e8 }}</td>
          <td style = 'display: {{ e9V }}'>{{ e9 }}</td>
          <td style = 'display: {{ e10V }}'>{{ e10 }}</td>
        </tr>
        <tr style = 'display: {{ VF }}'>
            <td>F</td>
            <td style = 'display: {{ f1V }}'>{{ f1 }}</td>
            <td style = 'display: {{ f2V }}'>{{ f2 }}</td>
            <td style = 'display: {{ f3V }}'>{{ f3 }}</td>
            <td style = 'display: {{ f4V }}'>{{ f4 }}</td>
            <td style = 'display: {{ f5V }}'>{{ f5 }}</td>
            <td style = 'display: {{ f6V }}'>{{ f6 }}</td>
            <td style = 'display: {{ f7V }}'>{{ f7 }}</td>
            <td style = 'display: {{ f8V }}'>{{ f8 }}</td>
            <td style = 'display: {{ f9V }}'>{{ f9 }}</td>
            <td style = 'display: {{ f10V }}'>{{ f10 }}</td>
          </tr>
          <tr style = 'display: {{ VG }}'>
            <td>G</td>
            <td style = 'display: {{ g1V }}'>{{ g1 }}</td>
            <td style = 'display: {{ g2V }}'>{{ g2 }}</td>
            <td style = 'display: {{ g3V }}'>{{ g3 }}</td>
            <td style = 'display: {{ g4V }}'>{{ g4 }}</td>
            <td style = 'display: {{ g5V }}'>{{ g5 }}</td>
            <td style = 'display: {{ g6V }}'>{{ g6 }}</td>
            <td style = 'display: {{ g7V }}'>{{ g7 }}</td>
            <td style = 'display: {{ g8V }}'>{{ g8 }}</td>
            <td style = 'display: {{ g9V }}'>{{ g9 }}</td>
            <td style = 'display: {{ g10V }}'>{{ g10 }}</td>
          </tr>
          <tr style = 'display: {{ VH }}'>
            <td>H</td>
            <td style = 'display: {{ h1V }}'>{{ h1 }}</td>
            <td style = 'display: {{ h2V }}'>{{ h2 }}</td>
            <td style = 'display: {{ h3V }}'>{{ h3 }}</td>
            <td style = 'display: {{ h4V }}'>{{ h4 }}</td>
            <td style = 'display: {{ h5V }}'>{{ h5 }}</td>
            <td style = 'display: {{ h6V }}'>{{ h6 }}</td>
            <td style = 'display: {{ h7V }}'>{{ h7 }}</td>
            <td style = 'display: {{ h8V }}'>{{ h8 }}</td>
            <td style = 'display: {{ h9V }}'>{{ h9 }}</td>
            <td style = 'display: {{ h10V }}'>{{ h10 }}</td>
          </tr>
          <tr style = 'display: {{ VI }}'>
            <td>I</td>
            <td style = 'display: {{ i1V }}'>{{ i1 }}</td>
            <td style = 'display: {{ i2V }}'>{{ i2 }}</td>
            <td style = 'display: {{ i3V }}'>{{ i3 }}</td>
            <td style = 'display: {{ i4V }}'>{{ i4 }}</td>
            <td style = 'display: {{ i5V }}'>{{ i5 }}</td>
            <td style = 'display: {{ i6V }}'>{{ i6 }}</td>
            <td style = 'display: {{ i7V }}'>{{ i7 }}</td>
            <td style = 'display: {{ i8V }}'>{{ i8 }}</td>
            <td style = 'display: {{ i9V }}'>{{ i9 }}</td>
            <td style = 'display: {{ i10V }}'>{{ i10 }}</td>
          </tr>
          <tr style = 'display: {{ VJ }}'>
            <td>J</td>
            <td style = 'display: {{ j1V }}'>{{ j1 }}</td>
            <td style = 'display: {{ j2V }}'>{{ j2 }}</td>
            <td style = 'display: {{ j3V }}'>{{ j3 }}</td>
            <td style = 'display: {{ j4V }}'>{{ j4 }}</td>
            <td style = 'display: {{ j5V }}'>{{ j5 }}</td>
            <td style = 'display: {{ j6V }}'>{{ j6 }}</td>
            <td style = 'display: {{ j7V }}'>{{ j7 }}</td>
            <td style = 'display: {{ j8V }}'>{{ j8 }}</td>
            <td style = 'display: {{ j9V }}'>{{ j9 }}</td>
            <td style = 'display: {{ j10V }}'>{{ j10 }}</td>
          </tr>
        </table>
    </div>
    <div class="target-board">
        <h2 class="target-text">Target</h2>
        <table class="target">
          <tr>
            <td></td>
            <td style = 'display: {{ V1 }}'>1</td>
            <td style = 'display: {{ V2}}'>2</td>
            <td style = 'display: {{ V3 }}'>3</td>
            <td style = 'display: {{ V4 }}'>4</td>
            <td style = 'display: {{ V5 }}'>5</td>
            <td style = 'display: {{ V6 }}'>6</td>
            <td style = 'display: {{ V7 }}'>7</td>
            <td style = 'display: {{ V8 }}'>8</td>
            <td style = 'display: {{ V9 }}'>9</td>
            <td style = 'display: {{ V10 }}'>10</td>
          </tr>
          <tr style = 'display: {{ VA }}'>
            <td>A</td>
            <td style = 'display: {{ a1V }}'>{{ a1 }}</td>
            <td style = 'display: {{ a2V }}'>{{ a2 }}</td>
            <td style = 'display: {{ a3V }}'>{{ a3 }}</td>
            <td style = 'display: {{ a4V }}'>{{ a4 }}</td>
            <td style = 'display: {{ a5V }}'>{{ a5 }}</td>
            <td style = 'display: {{ a6V }}'>{{ a6 }}</td>
            <td style = 'display: {{ a7V }}'>{{ a7 }}</td>
            <td style = 'display: {{ a8V }}'>{{ a8 }}</td>
            <td style = 'display: {{ a9V }}'>{{ a9 }}</td>
            <td style = 'display: {{ a10V }}'>{{ a10 }}</td>
          </tr>
          <tr style = 'display: {{ VB }}'>
            <td>B</td>
            <td  style = 'display: {{ b1V }}'>{{ b1 }}</td>
            <td  style = 'display: {{ b2V }}'>{{ b2 }}</td>
            <td  style = 'display: {{ b3V }}'>{{ b3 }}</td>
            <td  style = 'display: {{ b4V }}'>{{ b4 }}</td>
            <td  style = 'display: {{ b5V }}'>{{ b5 }}</td>
            <td  style = 'display: {{ b6V }}'>{{ b6 }}</td>
            <td  style = 'display: {{ b7V }}'>{{ b7 }}</td>
            <td  style = 'display: {{ b8V }}'>{{ b8 }}</td>
            <td  style = 'display: {{ b9V }}'>{{ b9 }}</td>
            <td  style = 'display: {{ b10V }}'>{{ b10 }}</td>
          </tr>
          <tr style = 'display: {{ VC }}'>
            <td>C</td>
            <td style = 'display: {{ c1V }}'>{{ c1 }}</td>
            <td style = 'display: {{ c2V }}'>{{ c2 }}</td>
            <td style = 'display: {{ c3V }}'>{{ c3 }}</td>
            <td style = 'display: {{ c4V }}'>{{ c4 }}</td>
            <td style = 'display: {{ c5V }}'>{{ c5 }}</td>
            <td style = 'display: {{ c6V }}'>{{ c6 }}</td>
            <td style = 'display: {{ c7V }}'>{{ c7 }}</td>
            <td style = 'display: {{ c8V }}'>{{ c8 }}</td>
            <td style = 'display: {{ c9V }}'>{{ c9 }}</td>
            <td style = 'display: {{ c10V }}'>{{ c10 }}</td>
          </tr>
          <tr style = 'display: {{ VD }}'>
            <td>D</td>
            <td style = 'display: {{ d1V }}'>{{ d1 }}</td>
            <td style = 'display: {{ d2V }}'>{{ d2 }}</td>
            <td style = 'display: {{ d3V }}'>{{ d3 }}</td>
            <td style = 'display: {{ d4V }}'>{{ d4 }}</td>
            <td style = 'display: {{ d5V }}'>{{ d5 }}</td>
            <td style = 'display: {{ d6V }}'>{{ d6 }}</td>
            <td style = 'display: {{ d7V }}'>{{ d7 }}</td>
            <td style = 'display: {{ d8V }}'>{{ d8 }}</td>
            <td style = 'display: {{ d9V }}'>{{ d9 }}</td>
            <td style = 'display: {{ d10V }}'>{{ d10 }}</td>
          </tr>
          <tr style = 'display: {{ VE }}'>
            <td>E</td>
            <td style = 'display: {{ e1V }}'>{{ e1 }}</td>
            <td style = 'display: {{ e2V }}'>{{ e2 }}</td>
            <td style = 'display: {{ e3V }}'>{{ e3 }}</td>
            <td style = 'display: {{ e4V }}'>{{ e4 }}</td>
            <td style = 'display: {{ e5V }}'>{{ e5 }}</td>
            <td style = 'display: {{ e6V }}'>{{ e6 }}</td>
            <td style = 'display: {{ e7V }}'>{{ e7 }}</td>
            <td style = 'display: {{ e8V }}'>{{ e8 }}</td>
            <td style = 'display: {{ e9V }}'>{{ e9 }}</td>
            <td style = 'display: {{ e10V }}'>{{ e10 }}</td>
          </tr>
          <tr style = 'display: {{ VF }}'>
              <td>F</td>
              <td style = 'display: {{ f1V }}'>{{ f1 }}</td>
              <td style = 'display: {{ f2V }}'>{{ f2 }}</td>
              <td style = 'display: {{ f3V }}'>{{ f3 }}</td>
              <td style = 'display: {{ f4V }}'>{{ f4 }}</td>
              <td style = 'display: {{ f5V }}'>{{ f5 }}</td>
              <td style = 'display: {{ f6V }}'>{{ f6 }}</td>
              <td style = 'display: {{ f7V }}'>{{ f7 }}</td>
              <td style = 'display: {{ f8V }}'>{{ f8 }}</td>
              <td style = 'display: {{ f9V }}'>{{ f9 }}</td>
              <td style = 'display: {{ f10V }}'>{{ f10 }}</td>
            </tr>
            <tr style = 'display: {{ VG }}'>
              <td>G</td>
              <td style = 'display: {{ g1V }}'>{{ g1 }}</td>
              <td style = 'display: {{ g2V }}'>{{ g2 }}</td>
              <td style = 'display: {{ g3V }}'>{{ g3 }}</td>
              <td style = 'display: {{ g4V }}'>{{ g4 }}</td>
              <td style = 'display: {{ g5V }}'>{{ g5 }}</td>
              <td style = 'display: {{ g6V }}'>{{ g6 }}</td>
              <td style = 'display: {{ g7V }}'>{{ g7 }}</td>
              <td style = 'display: {{ g8V }}'>{{ g8 }}</td>
              <td style = 'display: {{ g9V }}'>{{ g9 }}</td>
              <td style = 'display: {{ g10V }}'>{{ g10 }}</td>
            </tr>
            <tr style = 'display: {{ VH }}'>
              <td>H</td>
              <td style = 'display: {{ h1V }}'>{{ h1 }}</td>
              <td style = 'display: {{ h2V }}'>{{ h2 }}</td>
              <td style = 'display: {{ h3V }}'>{{ h3 }}</td>
              <td style = 'display: {{ h4V }}'>{{ h4 }}</td>
              <td style = 'display: {{ h5V }}'>{{ h5 }}</td>
              <td style = 'display: {{ h6V }}'>{{ h6 }}</td>
              <td style = 'display: {{ h7V }}'>{{ h7 }}</td>
              <td style = 'display: {{ h8V }}'>{{ h8 }}</td>
              <td style = 'display: {{ h9V }}'>{{ h9 }}</td>
              <td style = 'display: {{ h10V }}'>{{ h10 }}</td>
            </tr>
            <tr style = 'display: {{ VI }}'>
              <td>I</td>
              <td style = 'display: {{ i1V }}'>{{ i1 }}</td>
              <td style = 'display: {{ i2V }}'>{{ i2 }}</td>
              <td style = 'display: {{ i3V }}'>{{ i3 }}</td>
              <td style = 'display: {{ i4V }}'>{{ i4 }}</td>
              <td style = 'display: {{ i5V }}'>{{ i5 }}</td>
              <td style = 'display: {{ i6V }}'>{{ i6 }}</td>
              <td style = 'display: {{ i7V }}'>{{ i7 }}</td>
              <td style = 'display: {{ i8V }}'>{{ i8 }}</td>
              <td style = 'display: {{ i9V }}'>{{ i9 }}</td>
              <td style = 'display: {{ i10V }}'>{{ i10 }}</td>
            </tr>
            <tr style = 'display: {{ VJ }}'>
              <td>J</td>
              <td style = 'display: {{ j1V }}'>{{ j1 }}</td>
              <td style = 'display: {{ j2V }}'>{{ j2 }}</td>
              <td style = 'display: {{ j3V }}'>{{ j3 }}</td>
              <td style = 'display: {{ j4V }}'>{{ j4 }}</td>
              <td style = 'display: {{ j5V }}'>{{ j5 }}</td>
              <td style = 'display: {{ j6V }}'>{{ j6 }}</td>
              <td style = 'display: {{ j7V }}'>{{ j7 }}</td>
              <td style = 'display: {{ j8V }}'>{{ j8 }}</td>
              <td style = 'display: {{ j9V }}'>{{ j9 }}</td>
              <td style = 'display: {{ j10V }}'>{{ j10 }}</td>
            </tr>
            </table>
        </div>
        </div>
    </section>
    <section class="chatsec">
      <div class="chat-container">
          
      
  
        <div class="chatwindow">
          <div class="chat-txt">
            <h2 >Chat Room</h2>
            <h2>Room Code: {{session['room']}}</h2>
            <button type="button" class="btn btn-danger" id="leave-btn" onclick=leave_room()>Leave this Chat</button>
          </div>
          
          <textarea id="chat" rows="10" placeholder="No messages yet. Start one..."></textarea><br /><br />
          <input type="text" id="text" size="60" placeholder="Enter your message here" />
          <button type="button" id="send" class="btn btn-success">SEND</button><br /><br />
          
        </div>
    </div>
    </section>
        <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    </body>
</html>



